.home-container {
  padding: 4em;
  font: 14px Arial, Helvetica, sans-serif;
}

.home-container h1 {
  margin-top: 0;
}

.home-container a {
  color: #00b7ff;
}

.home-container code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.home-container li {
  padding: 3px 0;
}
